# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# pictures/images
*.png
ipg_grade_sim/processed/tbl_platoon_wDrr_working.mat
ipg_grade_sim/processed/archive/tbl_12_12_23.mat
ipg_grade_sim/processed/archive/tbl_baseline_12_13_23.mat
ipg_grade_sim/processed/tbl_baseline_working.mat
ipg_grade_sim/processed/tbl_leader_only.mat
mass_estimate/canada_table_12_4_23.mat
mass_estimate/jdsmc_table_11_19_23.mat
validation_analysis/lookups/tbl_canada_2_15_2024.mat
validation_analysis/lookups/tbl_doeTestTrack_2_14_2024.mat
validation_analysis/lookups/tbl_ew_11_22.mat
validation_analysis/lookups/tbl_I85_2_14_2024.mat
validation_analysis/lookups/tbl_I85_2_8_2024.mat
validation_analysis/lookups/tbl_jdsmc_2_15_2024.mat
ipg_grade_sim/processed/tbl_platoon_working.mat
validation_analysis/matrix design.xlsx
validation_analysis/validation_sketches.pptx
validation_analysis/~$matrix design.xlsx
validation_analysis/lookups/tbl_jdsmc_2_24_2024.mat
aeroDragAlgebraicEst/matlab_workspace.mat
ipg_grade_sim/archived/ecdf_v.mat
ipg_grade_sim/archived/ecdf_grade.mat
ipg_grade_sim/processed/tbl_sensitivity_analysis.mat
ipg_grade_sim/combinatorial_analysis.m
validation_analysis/lookups/tbl_jdsmc_3_2_2024.mat
validation_analysis/lookups/tbl_I85_3_4_2024.mat
validation_analysis/lookups/tbl_jdsmc_3_4_2024.mat
validation_analysis/lookups/tbl_canada_3_5_2024.mat
validation_analysis/lookups/tbl_doeTestTrack_3_5_2024.mat
